[Desktop Entry]
Type=Application
Version=1.0
Name=GAMMA Linux Launcher
Name[fr]=Lanceur GAMMA (Linux)
GenericName=S.T.A.L.K.E.R. GAMMA installer & launcher
GenericName[fr]=Installeur et lanceur S.T.A.L.K.E.R. GAMMA
Comment=Install, manage and launch S.T.A.L.K.E.R. GAMMA on Linux
Comment[fr]=Installe, gère et lance S.T.A.L.K.E.R. GAMMA sous Linux
Exec=stalker-gamma-linux-gui
Icon=stalker-gamma-linux-gui
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=org.stalkergammalinux.Gui
